* {
    box-sizing: border-box;
}

.background-image {
    background-image: url('./m1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    z-index: 0;
}

html {
   background: black;
}


.marvel, .characters {
    font-family: 'Bebas Neue', cursive;
    text-shadow: -3px 2px 1px #757676 ;
    position: relative;
    text-transform: uppercase;
    letter-spacing: -0.3rem;
    margin: 3rem .5rem 7rem .5rem;
    display: inline-block;
    line-height: 6rem;
    font-size:8rem;
    color: #CACCCC;
    
}

.marvel {
    line-height: 8rem;
    padding: 1rem 1rem 0rem 1rem;
}

.characters {
    display:inline-block;
    
    letter-spacing: -0.1rem;
    border-top: solid 0.3rem;
    border-bottom: solid 0.3rem;
    padding:1rem 0.3rem 0.3rem 0rem;
    transform: scale(1,1.1);
}

#character-search:focus {
    border-bottom: 1px solid rgb(255, 0, 0);
    box-shadow: 0 1px 0 0 #000;
 }

 label {
    font-size: 1.25rem;
 }

 #resultcard {
    display:none;
 }

 #thumbnail {
    display:none;
 }
